<main>
  <section class="login-container">
    <h1>Área de Serviço</h1>
    <form class="login-form">
      <div class="form-group">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" placeholder="Digite seu usuário" [(ngModel)]="user">
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Digite sua senha" [(ngModel)]="password">
      </div>
      <button type="submit" (click)="login()">Entrar</button>
     
    </form>
  </section>
</main>

